*~
build/
ckmame-*.tar.*
cov-int/
xcode/ckmame.xcodeproj/project.xcworkspace/xcshareddata
xcode/ckmame.xcodeproj/project.xcworkspace/xcuserdata
xcode/ckmame.xcodeproj/xcuserdata
developer-xcode/ziptools.xcodeproj/xcuserdata
developer-xcode/ziptools.xcodeproj/project.xcworkspace/xcuserdata
